{* 显示 当前视图 的消息队列 }
<msgqueue for="$theView" />

<div class="logined">
	<div class="userInfo">
       	<a href="" class="avatar" title="更换头像" target="_blank"><img alt="" src="/platform/ui/images/viewimg/xshd01.jpg" /></a>
           <div class="text">
				<h5><a href="">User</a></h5>
				<p>
					<foreach for="\jc\auth\IdManager::fromSession()->iterator()" item="aId">
							{= $aId->username() } <a href="?c=coreuser.switch&uid={= $aId->userId() }">切换</a><br/>
					</foreach>
				</p>
           </div>
           <div class="clear"></div>
	</div>
    <div class="logined_btn">
          	<input type="button" class="btn_login" value="管理中心" />
			<input type="button" class="btn_register" value="退　出" />
     </div>
</div>

<div class="login">
	<form action="/?c=login" method="post">
		<ul>
			<li class="username">
				<span>用户名</span>
				<widget id="username" class="textfield"/>
				<msgqueue for="$theView->widget('username')" />
			</li>
			<li class="password">
				<span>密　码</span>
				<widget id="password" class="textfield"/>
				<msgqueue for="$theView->widget('password')" />
			</li>
		</ul>
		<div class="remember">
			<span>
			<input type="checkbox" name="remember" id="remember" />
			<label for="remember">记住我</label></span>
			<a href="">忘记密码</a>
		</div>
		<div class="login_btn">
			<input type="submit" value="登　录" class="btn_login" />
			<input type="button" value="注　册" class="btn_register" />
		</div>
	</form>
</div>
