{* 显示 当前视图 的消息队列 }
<msgqueue for="$theView" />


<form action="/?c=register" method="post">
	<div>
		用户名：<widget id="user_loginId"/>
		<msgqueue for="$theView->widget('user_loginId')" />
	</div>
	
	<div>
		{* 显示 password 视图窗体 }
		密　码：<widget id="password"/>

		{* 显示 password 窗体 的消息队列 }
		<msgqueue for="$theView->widget('password')" />
	</div>
	
	<div>
		{* 显示 username 视图窗体 }
		姓　名：<widget id="username"/>
		
		{* 显示 username 窗体 的消息队列 }
		<msgqueue for="$theView->widget('username')" />
	</div>
	
	<div>
		邮　件：<widget id="user_email"/>
		<msgqueue for="$theView->widget('user_email')" />
	</div>
	
	<div>
		性　别：<label>男</label><widget id="user_sex_male"/><label>女</label><widget id="user_sex_female"/>
		<msgqueue for="$theView->widget('user_sex')" />
	</div>
	
	<div>
		生　日：<widget id="user_birthday"/>
		<msgqueue for="$theView->widget('user_birthday')" />
	</div>
	
	<div>
		城　市：<widget id="user_city"/>
		<msgqueue for="$theView->widget('user_city')" />
	</div>
	
	<input type="submit" value="submit" />
	
</form>