
<css src="coreuser.css" />

<div class="subscribe">
<h4>我的关注</h4>
<ul>
<foreach for="$theModel->childIterator()" item="row">
<li>	
		<a href="" class="subscribe_avatar">
			<img src="/extensions/coreuser/ui/images/avatar.jpg" alt="" />
		</a>
		<div class="subscribe_info">
			<h5><a href="">{= $row->child('user')->data('username') }</a></h5>
			<p><a class="cancelConcern" href="?c=coreuser.subscribe.remove&uid={= $row->child('user')->data('uid') }">取消关注</a></p>
		</div>
</li>			
</foreach>
</ul>
</div>