.register{border:1px solid #ccc;padding:10px;}
.register div{ margin:10px 0 0 0; height:22px;}
.register span{width:200px;display: block;
    float: left;
    padding-top:2px;
    text-align: right;
    vertical-align: middle;
    font-size:13px; font-weight:bold; line-height:20px;}
.register input, .register select{margin-left:6px;}
.register select{height:20px;}
.regi_item input{width:200px; height:16px;padding:2px; border:1px solid #ddd;}
.register .register_btn{ clear:left;margin:10px 0 10px 206px;width:84px; height:25px; font-size:16px; line-height:25px;cursor:pointer; background:#005eac; color:#fff; border:1px solid #024073}
.sex input{margin-top:2px; margin-right:4px;}
.sex .female{margin-left:20px;}